.parallax {
  display: grid;
  grid-template-columns: 12fr;
  background-image: url('../../../assets/latte.jpg');
  min-height: 625px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}