.wrapper {
  display: grid;
  grid-template-columns: auto auto;
  margin: .5em;

  .title {
    align-self: center;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
  }
  
  .menu {
    text-align: center;
  
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
  
    li {
      a {
        color: black;
        font-size: 12px;
        text-decoration: none;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .wrapper {
    grid-template-columns: 10fr 2fr;
    margin: 2em;

    .title {
      font-size: 20px;
      text-align: left;
    }

    .menu {
      text-align: right;
      align-self: center;

      ul {
        display: inline;
        
        li {
          display: inline;
          padding: .5em;

          a {
            font-size: 16px;
          }
        }
      }
    }
  }
}