.about {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "l" "h" "c";
  text-align: center;

  .location { grid-area: 'l'; }
  .hours { grid-area: 'h'; }
  .contact { grid-area: 'c'; }

  .location, .hours, .contact {
    align-self: center;
    margin: .5em 0;

    .subtitle, p {
      font-size: 14px;
    }

    .subtitle {
      font-weight: bold;
      text-transform: uppercase;
    }
  }
}

@media screen and (min-width: 768px) {
  .about {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-template-areas: "l h c";
    margin: 4em 0;

    .location, .hours, .contact {
      .subtitle, p {
        font-size: 20px;
      }
    }

    .contact {
      padding-bottom: 26px;
    }
  }
}