.about {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "heading heading heading"
    "content content content";
  margin: 2em;
}

.heading,
.about-content {
  margin: auto;
  padding: .5em;
  text-align: center;
}

.heading {
  grid-area: 'heading';
}

.about-content {
  grid-area: 'content';
}